{% extends 'base.html' %}
{% block title %}
Contact
{% endblock %}
{% block css %}
{% load static %}

{% endblock %}
{% block body %}
<section>
    <div class="container">
        <div class="head_part">
            <h1 class="heading heading_main text_big center">Interdisciplinary Research Journal for Humanities (IRJH)</h1>
            
            <h1 class="heading text_medium center">CONTACT</h1>
        </div>
        <div class="body_part">
            <h2 class="heading text_medium">Interdisciplinary Research Journal for Humanities (IRJH)</h2>
            <p class="paragraph">Our journal, Interdisciplinary Research Journal for Humanities (IRJH) (ISSN: 2249-250X), a Peer Reviewed Journal was started in 2012. It is a biannual journal. We publish authentic and unpublished articles under the branch of humanities for the last ten years. This includes subjects like Tamil, English, Folklore, Social Work and Social Science.</p>
            
            <h2 class="heading text_medium">Contact</h2>
<h1 class="heading text_medium">Editor-in-Chief</h1>
<h2 class="title text_medium">Dr. D. Jockim</h2>
<ul class="list_column paragraph list_style_none">
    
    <li>Dean of Arts & Assistant Professor of English</li>
    <li>St. Xavier's College (Autonomous),</li>
    <li>Palayamkottai, Tirunelveli District - 627002</li>
    <li>E.Mail: editor_idrjh@stxavierstn.edu.in , ijofhumanism@gmail.com,d.jockim@gmail.com</li>
    <li>Cell.9994657296</li>
</ul>


<h2 class="heading text_medium">Subscription Rates</h2>
<h3 class="paragraph text_medium">ANNUAL SUBSCRIPTION</h3>
<ul class="list_column list_style_decimal paragraph">
<li>for individuals: Rs. 1000/- (in India) US$150 (airmail)</li>
<li>for institutions: Rs. 5000/- (in India) US$300 (airmail)</li>
</ul>
<p class="paragraph">
    Subscription orders along with a Demand Draft drawn in favour of “Interdisciplinary Research Journal for Humanities” payable at Tirunelveli, may please be sent to the Managing Editor.
    
    Disclaimer: Opinions expressed are those of their authors and not the responsibility of the Board, the Editors or the publisher.  All disputes arising, if any, are subjected to the exclusive jurisdiction of competent court in Palayamkottai, Tamilnadu, India.
</p>


        </div>
</div>
</section>
{% endblock %}