{% extends 'base.html' %}
{% block title %}
Publication Policy
{% endblock %}
{% block body %}
<section>
    <div class="container">
        <div class="head_part">
            <h1 class="heading heading_main text_big center">Interdisciplinary Research Journal for Humanities (IRJH)</h1>
            
            <h1 class="heading text_medium center">Committee On Publication Ethics(COPE)Guidelines</h1>
        </div>
        <div class="body_part">
            
            <p class="paragraph">By submitting a manuscript, the authors retain the rights to the published material. In Case of publication, authors have the permit to use their work under a CC-BY license [http://creativecommons.or/licenses/by/3.0/], which allows others to copy, distribute and transmit the work as well as to adapt the work and to make commercial use of it.
            </p>
            
            
        </div>
    </div>
</section>

{% endblock %}