{% extends 'base.html' %}
{% block title %}
Correction and Retraction Policy
{% endblock %}
{% block body %}
<section>
    <div class="container">
        <div class="head_part">
            <h1 class="heading heading_main text_big center">Interdisciplinary Research Journal for Humanities (IRJH)</h1>
            
            <h1 class="heading text_medium center">Correction and Retraction Policy</h1>
        </div>
        <div class="body_part">
            
            <p class="paragraph">When an author or reader discovers a substantial error or inaccuracy in the published article, the onus is with the authors to promptly alert the journal editor and work with the editor to correct the manuscript. Restrictions are considered by journal editor in case of evidence of unreliable data or findings, plagiarism, duplicate / multiple publication, and unethical research.
            </p>
            <p class="paragraph">
                After the acceptance of Paper - No Changes are allowed. Selection of the Publication of the Issue and the Time of Publications will be executed by the Editor and the Editorial Team.
            </p>
            
        </div>
    </div>
</section>
{% endblock %}
