{% extends 'base.html' %}
{% block title %}
Guidelines for Editors
{% endblock %}
{% block body %}
<section>
    <div class="container">
        <div class="head_part">
            <h1 class="heading heading_main text_big center">Interdisciplinary Research Journal for Humanities (IRJH)</h1>
            
            <h1 class="heading text_medium center">Guidelines for Editors</h1>
        </div>
        <div class="body_part paragraph">
            <h1 class="heading text_medium center">Ethical Guidelines for Editors</h1>
            <ul class="list_column gap_big list_style_decimal">
                <li>Editors should confirm that the research work submitted for publication adheres to the requirements of the journal.</li>
                <li>Editors should do  objective and confidential review of all original research submissions. The initial quality check should also include an originality check using a plagiarism detection software amongst other appropriate methods. </li>
                <li>All publication processes should be transparent and any queries from the authors regarding the publication process should be answered in a timely manner. </li>
                <li>All research work submitted for publication should be subjected to a double blind peer review and the review report should be submitted to the publisher for archival purposes. </li>
                <li>Editors should ensure that the reviewers submit their reviews in the format given by the publisher and the review is done within a month from the receipt of the article</li>
                <li>Editors will inform all editorial decision to the publisher. </li>
                <li>Any article found using false data or has a detrimental impact on society should not be considered for publication.</li>
                
            </ul>
            
            
        </div>
    </div>
</section>
{% endblock %}