{% extends 'base.html' %}
{% block title %}
Publication Policy
{% endblock %}
{% block body %}
<section>
    <div class="container">
            <div class="head_part">
                <h1 class="heading heading_main text_big center">Interdisciplinary Research Journal for Humanities (IRJH)</h1>
                
                <h1 class="heading text_medium center">Guidelines for Reviewers</h1>
            </div>
            <div class="body_part paragraph">
                <h1 class="heading text_medium center">Ethical Guidelines for Reviewers</h1>
                <ul class="list_column gap_big list_style_decimal">
                    <li>Reviewers are requested not to accept the invitation to review a research work if they do not agree to the ethics policy of the journal</li>
                    <li>Reviewers are requested not to accept the invitation to review if they find the work submitted for review is not relevant to their area of expertise.</li>
                    <li>Reviewers should maintain the confidentiality of their work. </li>
                    <li>Reviewers may approach the editors if they have any queries regarding the journal and its policies.</li>
                    <li>Reviewers should assess a work honestly, rigorously and objectively. </li>
                    <li>The review report should be sent to the editor within 28 days from the receipt of the research work for review.</li>
                </ul>
                
                
            </div>
        </div>
    </section>
{% endblock %}