{% extends 'base.html' %}
{% block title %}
Indexing
{% endblock %}
{% block body %}
    <section>
        <div class="container">
            <div class="head_part">
                <h1 class="heading heading_main text_big center">Interdisciplinary Research Journal for Humanities (IRJH)</h1>
                
                <h1 class="heading text_medium center">Indexing</h1>
            </div>
            <div class="body_part">
                
                <ul class="list_column gap_big list_style_disc">
                    <li class="paragraph">	Google Scholar</li>

                    <li class="paragraph">	Directory of Science</li>

                    <li class="paragraph">	CiteFactor</li>

                    <li class="paragraph">	NAAS</li>

                </ul>
                
            </div>
        </div>
    </section>
{% endblock %}