{% extends 'base.html' %}
{% block title %}
INFORMATION FOR AUTHORS
{% endblock %}
{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/policypage_style.css' %}">
{% endblock %}
{% block body %}
<section>
    <div class="container">
        <div class="head_part">
            <h1 class="heading heading_main text_big center">Interdisciplinary Research Journal for Humanities (IRJH)</h1>
            
            <h1 class="heading text_medium center">INFORMATION FOR AUTHORS</h1>
        </div>
        <div class="body_part">
            <h2 class="heading text_medium">Interdisciplinary Research Journal for Humanities (IRJH)</h2>
            <p class="paragraph">Our journal, Interdisciplinary Research Journal for Humanities (IRJH) (ISSN: 2249-250X), a Peer Reviewed Journal was started in 2012. It is a biannual journal. We publish authentic and unpublished articles under the branch of humanities for the last ten years. This includes subjects like Tamil, English, Folklore, Social Work and Social Science.</p>
            <p class="paragraph">
                The paper must be submitted through the journal editorial system.
                The authors must use British English spelling in the manuscript uniformly
            </p>

<h2 class="heading text_medium">Thrust Areas:</h2>
<ul class="list_column gap_big paragraph list_style_circle">
    
    	<li>Literature and History</li>
    	<li>Cultural Studies</li>
    	<li>Diaspora Studies</li>
    	<li>Postcolonial Studies</li>
    	<li>Gender Studies</li>
    	<li>Eco-criticism</li>
    	<li>Popular Culture</li>
    	<li>Ecology and Literature</li>
    	<li>LGBTR</li>
    	<li>Pandemic literature</li>
    	<li>Conflict and traumatic narratives</li>
    	<li>Graphic narratives</li>
    	<li>Cyber narratives</li>
    	<li>Chick literature</li>
    	<li>Culinary literature</li>
    	<li>Memory studies</li>
    	<li>Refugee literature</li>
    	<li>Border studies</li>
    	<li>Blue studies</li>
    	<li>Animal studies</li>
    	<li>Digital narratives</li>
    	<li>Language Teaching (Tamil & English)</li>
</ul>
<h2 class="heading text_medium">Format</h2>
<ul class="list_column paragraph">
    <li>Font	: Times New Roman</li>
    <li>Font size    : 12</li>
    <li>Space	: 1.5</li>
    <li>Style	: MLA 8th Edition</li>
    <li>Abstract    : 50 to 75 words</li>
    <li>Key words: 5 to 7</li>
    <li>Full Paper : 2500 to 3000 words</li>
    <li>Work Cited: Only the works cited in the article should be mentioned</li>
</ul>
<h2 class="heading text_medium">Subscription Details</h2>
<ul class="list_column paragraph list_style_decimal">
     <li>Annual subscription for Individuals and Institutions in India: Rs. 300/-</li>
    <li>Annual subscription for Individuals and Institutions in Foreign Countries: $ 200</li>
    <li>Subscription can be made to the following account through online to the following account: "The Principal, St.Xavier's College, Palayamkottai”. Account number will be sent on request.</li>
</ul>
<h1 class="heading text_medium">Note:</h1>
<ul class="list_column gap_big list_style_circle">
    <li class="paragraph">No Processing Fee</li>
    <li class="paragraph">Free Soft copies of the journal will be sent to the authors</li>
    <li class="paragraph">Hard copies will be given to individual authors on request (Printing charges & Postal expenses (Rs.100) applicable)</li>
    <li class="paragraph">One page author profile with contact number and e-mail ID should be sent along with the paper.</li>
</ul> 
<h2 class="heading text_medium">Contact</h2>
<ul class="list_column gap_big paragraph list_style_none">
    <li>Dr.D.Jockim, Editor-in- Chief,</li>
    <li>Interdisciplinary Research Journal for Humanities (IRJH)</li>
    <li>Dean of Arts & Assistant professor of English</li>
    <li>St.Xaviers college(Autonomous), Palayamkottai</li>
    <li>Cell.9994657296</li>
</ul>
<h2 class="heading text_medium">Ethical Guidelines for Authors</h2>
<ul class="list_column gap_big list_style_circle">
    <li class="paragraph">Authors should ensure that the research paper submitted is original and has not been published elsewhere.</li>
    <li class="paragraph">All the authors must be represented accurately and clear references are to be given to the work done by others.</li>
    <li class="paragraph">The complete responsibility is on the authors to reveal the source of all data and third-party material used. </li>
    <li class="paragraph">Use of any third-party material is to be done after obtaining the written permission from the respective copyright holders. The permission documents should be submitted along with the research work submitted for publication and the publisher or editor cannot be held responsible for the improper use of copyrighted material in the research work at any time. The authors are responsible if any investigation is initiated by the editor or publisher, in case data used in a study is found to be false,insufficient, or misrepresented. Authors should respond to the editor or publisher when source of data, proof of authorship or any such detail is requested.</li>
    <li class="paragraph">When any ethical or technical issue is found with a published research work, the authors should be ready to provide corrigenda in a timely manner and must report to the editor and publisher in case of publication of an errata or retraction of the published research work.</li>
</ul>


        </div>
</div>
</section>
{% endblock %}