{% extends 'base.html' %}
{% block title %}
Multiple Publications
{% endblock %}
{% block body %}
<section>
    <div class="container">
        <div class="head_part">
            <h1 class="heading heading_main text_bigger center">Sciencia Acta Xaveriana</h1>
            
            <h1 class="heading text_medium center">Multiple Publications</h1>
        </div>
        <div class="body_part">
            
            <p class="paragraph">Submitting the same manuscript to more than one journal is unethical publishing behavior. Manuscripts which are published as copyrighted material elsewhere cannot be submitted for review or publication. Also manuscripts which are under review in this journal should not be resubmitted to copyrighted publications. 
            </p>
            
        </div>
    </div>
</section>
{% endblock %}