<header class="header">
    <nav class="navbar">
        <div class="brand-title">
            IRJH Journal
        </div>
        <a href="#" class="toggle-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
        <div class="navbar-links">
            <ul>
                <li class="nav_item"><a href="{% url 'homescreen' %}" class="nav_link">Home</a></li>
                <li class="nav_item"><a href="{% url 'policypage' %}" class="nav_link">policies</a></li>
                <li class="nav_item"><a href="{% url 'editorialpage' %}" class="nav_link">Editorial Board</a></li>
                <li class="nav_item"><a href="{% url 'authorInfopage' %}" class="nav_link">Info for Author</a></li>
                <li class="nav_item"><a href="{% url 'issuespage2' %}" class="nav_link">All Issues</a></li>
                <li class="nav_item"><a href="{% url 'ContactPage' %}" class="nav_link">Contact</a></li>
                {% if request.user.is_authenticated %}
                {% if request.user.role == 'AUTHOR' %}
                <li class="nav_item"><a href="{% url 'manuscript_page' %}" class="nav_link">Manuscript</a></li>
                {% else %}
                <li class="nav_item"><a href="{% url 'editor_dashboard' %}" class="nav_link">View Manuscript</a></li>
                {% endif %}
                {% else %}
                <li class="nav_item"><a href="{% url 'login page' %}" class="nav_link">Login/register</a></li>                
                {% endif %}
                
                {% if request.user.is_authenticated %}
                <li class="nav_item"><a href="{% url 'logout_page' %}" class="nav_link">logout</a></li>
                {% endif %}
                <!-- <li class="nav_item"><a href="#contact" class="nav_link">contact</a></li>
                <li class="nav_item"><a href="#user" class="nav_link">Username</a></li> -->
            </ul>
        </div>
    </nav>
    <div class="logo">
        <div class="logo-heading">
            {% load static %}
            <img src="{% static 'img/college_logo.png' %}" alt="logo" srcset="" width="150px" height="150px">
            <div class="logo-title">
            <h1>St. Xavier's College (Autonomous), Palayamkottai, Tamil Nadu-627002, India</h1>
            <h2><span>I</span>nterdisciplinary <span>R</span>esearch <span>J</span>ournal for <span>H</span>umanities (IRJH)</h2>
            <h5>An International Research Journal of Basic and Applied Sciences</h5>
            </div>
            <!-- <img src="{% static 'img/journal_logo.png' %}" alt="" srcset="" width="150px" height="150px"> -->
        </div>
        <div class="logo-body">
            <h4 class="web-link">web: <a href="">www.tnsxajournal.in</a></h4>
            <h4 class="email-addrss">E-mail: <span>saxeditor2009@gmail.com</span></h4>
        </div>
    </div>
</header>