{% extends 'base.html' %}
{% block title %}
Open Access Policy
{% endblock %}
{% block body %}
<body>
    <section>
        <div class="container">
            <div class="head_part">
                <h1 class="heading heading_main text_bigger center">Sciencia Acta Xaveriana</h1>
                
                <h1 class="heading text_medium center">Open Access Policy</h1>
            </div>
            <div class="body_part">
                
                <p class="paragraph">All the issues will be made available online.</p>
                
            </div>
        </div>
    </section>
{% endblock %}