{% extends 'base.html' %}
{% block title %}
Peer Review Policy
{% endblock %}
{% block body %}
<section>
    <div class="container">
        <div class="head_part">
            <h1 class="heading heading_main text_bigger center">Sciencia Acta Xaveriana</h1>
            
            <h1 class="heading text_medium center">Peer Review Policy</h1>
        </div>
        <div class="body_part">
            <h2 class="paragraph text_medium">Reviewers support the editorial board in making editorial decisions.</h2>
            
            <p class="paragraph text_medium">The editorial board is responsible for confirming the competence of the reviewers.  Contributors will  receive notification about the acceptance of his/her manuscript for the reviewing process within two weeks. The editorial board is responsible for ensuring the promptness of responses in the double blind review process. Review is to be conducted objectively and personal criticism of the author should be avoided. The Referee's report should send the reports towards enhancing the quality of the manuscript.</p> 
            
        </div>
    </div>
</section>
{% endblock %}