{% extends 'base.html' %}
{% block title %}
Plagiarism Policy
{% endblock %}
{% block body %}
<section>
    <div class="container">
        <div class="head_part">
            <h1 class="heading heading_main text_bigger center">Sciencia Acta Xaveriana</h1>
            
            <h1 class="heading text_medium center">Plagiarism Policy</h1>
        </div>
        <div class="body_part">
            
            <p class="paragraph">Authors shall submit only entirely original works, and will appropriately cite the work and/or words of others. Publications that have been significant in determining the nature of the reported work should also be cited. Plagiarism includes “passing off” another's paper as the author's own, to copying or paraphrasing part of another's paper, to claiming results from research conducted by others. Plagiarism in all its forms is unethical publishing behavior.</p>
            
        </div>
    </div>
</section>
{% endblock %}