{% extends 'base.html' %}
{% block title %}
Privacy Statement
{% endblock %}
{% block body %}
<section>
    <div class="container">
        <div class="head_part">
            <h1 class="heading heading_main text_bigger center">Sciencia Acta Xaveriana</h1>
            
            <h1 class="heading text_medium center">Privacy Statement</h1>
        </div>
        <div class="body_part">
            
            <p class="paragraph">The names and email addresses entered in this journal site will be used exclusively for the stated purposes and will not be made available for any other purpose.</p>
            
        </div>
    </div>
</section>
{% endblock %}