{% extends 'base.html' %}
{% block title %}
Publication Policy
{% endblock %}
{% block body %}
<section>
    <div class="container">
        <div class="head_part">
            <h1 class="heading heading_main text_bigger center">Sciencia Acta Xaveriana</h1>
            
            <h1 class="heading text_medium center">Publication Policy</h1>
        </div>
        <div class="body_part">
            <ul class="list_column gap_big list_style_decimal">
                <li class="paragraph">Every contribution should be accompanied by a declaration that the article is original and has not been published nor submitted elsewhere for publication.</li>
                <li class="paragraph">All submitted articles will be double blind reviewed. Acceptance of articles is subject to recommendation by the review panel and subsequent acceptance by the editor.</li>
                <li class="paragraph">Every accepted article will be copy-edited. The Editorial Board reserves the right to make necessary revisions to the text in keeping with the journal style sheet and standard.</li>
                <li class="paragraph">The editorial board will adhere to the policies of the journal and is constrained by legal requirements related to copy right infringement and plagiarism.</li>
                <li class="paragraph">Members of the editorial board will abide by reviewers recommendations in making the decision.</li>
            </ul>
        </div>
        
    </div>
</section>
{% endblock %}
