{% extends 'base.html' %}
{% load static %}
{% block title %}
manuscript status page
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/statuspagestyle.css' %}">
{% endblock %}
{% block body %}
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <td>Sno</td>
                    <td>Title</td>
                    <td>Date</td>
                    <td>view manuscript</td>
                    <td>Status</td>
                </tr>
            </thead>
            <tbody>
                
                {% for journal in manuscript %}
                <tr>
                    <td>{{ journal.id }}</td>
                    <td>{{ journal.Title }}</td>
                    <td>{{ journal.pub_date }}</td>
                    <td><a href="{{ journal.pdf_file.url  }}" target="" rel="noopener noreferrer">view</a></td>
                    <td>
                        
                        {% if journal.under_review %}
                            {% if journal.verified %}
                            Accepted
                            {% else %}
                                Under Review
                            {% endif %}
                        {% else %}
                        Rejected
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock %}
    {% block scripts %}
    {% endblock %}