/* #3a8587 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --nav-bg-color:#3a8587;
    --bg-dark:#1c3943;
    --font-bright-color:#ffffff;
    --font-dark-color:#212020;
    --heading:#0086b2;
    --text-font:#747474;
}
*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
}
/* .header{
    width: 100%;
}
.header img{
    width:100%;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--nav-bg-color);
    color: var(--font-bright-color);
}
.brand-title{
    font-size: 1.5rem;
    margin: .5rem;
    font-weight: bold;
}
.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
}
.navbar-links li{
    list-style: none;
}
.navbar-links li:hover{
    background-color: var(--bg-dark);
}
.nav_link_active{
   background-color: var(--bg-dark);
}
.navbar-links li a{
    text-decoration: none;
    color: var(--font-bright-color);
    padding: 1rem;
    display: block;
}
.toggle-button{
    position: absolute;
    top:.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
} */

section{
    width: 100%;
}

/* .container{
    margin: .5rem 4rem;
} */

.content_heading{
    text-align: center;
    /* font-style: oblique; */
    color: var(--heading);
}

.content_body{
    color: var(--text-font);
}

.Journal_heading{
    color: var(--heading);
}

.Journal_body p{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    color: var(--text-font);
}

@media (max-width: 700px) {

    .toggle-button{
        display: flex;
    }

    .navbar-links{
        width: 100%;
        display: none;
    }

    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul{
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li{
        text-align: center;
    }

    .navbar-links li a{
        padding: .5rem 1rem;
    }

    .navbar-links.active{
        display: flex;
    }

    .container{
        margin: 0rem .5rem;
    }
    .content_body p{
        font-size: smaller;
    }
}